{% extends "base.html" %}
{% block content%}

     <!-- Page Content -->
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
      {% include "header.html"%}
</div>

    <!-- Page Content -->
<div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
<div class="container" style="background:rgba(255,255,255, 0.1);">      
<div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

  <div class="col-lg-9 col-md-8 news-detail">

  <div class="  bs-component">
<form class="form-horizontal" _lpchecked="1" id="main_form" action="" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
  <fieldset>
    <legend>Write/Edit Article</legend>
        <div class="form-group">
          <label for="Title" class="col-lg-2 control-label"> Title</label>
            <div class="col-lg-10">
            {% if edit %}
            <input type="text" class="form-control" id="textinput" name="title" placeholder="Enter title" value="{{news.title}}" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" autocomplete="off">
            <input type="text" name="news_id" value="{{news.id}}" style="display:none">
            {% else %}
           <input type="text" class="form-control" id="textinput" name="title" placeholder="Enter title" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" autocomplete="off">
            {% endif %}
              <span style="float:right"> 
              characters: <span id="count"></span></span>
            </div>
            <input id="fb_id" type="text" name="fb_id" value="" style="display:none">
        </div>
        <div class="form-group">
            <label for="coverimage" class="col-lg-2 control-label">Upload Cover Image</label>
                <div class="col-lg-10">
                  <img id="myImg" src="http://placehold.it/200x100" alt="upload your image" style="width:100%;
    max-width:600px;"/>
                      <input id="image-file" type="file" name="image" style="margin-top : 20px" />
                      <p>Minimum image size is 200 X 100 </p>
                </div>
        <div>
         <div class="form-group">
                    <label for="coverimage" class="col-lg-2 control-label"> Tag a team *</label>
                    <div class="col-lg-10">
                      <select id="team1" name="Team1" class="form-control select_box">
                        <option value="">Select team</option>
                        {%for team in teams%}
                        {% if edit and team.id == news.team_a.id %} 
                        <option value="{{team.id}}" selected>{{team.team_name}}</option>
                        {% else %}
                        <option value="{{team.id}}">{{team.team_name}}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                    </div>
        </div>

        <div class="form-group">
                    <label for="coverimage" class="col-lg-2 control-label"> Tag a team (Optional)</label>
                    <div class="col-lg-10">
                      <select id="team2" name="Team2" class="form-control select_box">
                        <option value="">Select team</option>
                        {%for team in teams%}
                        {% if edit and news.team_b.id and team.id == news.team_b.id %} 
                        <option value="{{team.id}}" selected>{{team.team_name}}</option>
                        {% else %}
                        <option value="{{team.id}}">{{team.team_name}}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                    </div>
        </div>
        <div class="form-group">
                    <label for="coverimage" class="col-lg-2 control-label">Write an article *</label>
                    <div class="col-lg-10">
                      <textarea id="my_editor" class="form-control" rows="3" name="news_content" style="display:none"></textarea>
                      <iframe id="form_target" name="form_target" style="display:none"></iframe>
                    </div>
        </div>
          <div class="form-group">
          <label for="Tag" class="col-lg-2 control-label"> Tags</label>
            <div class="col-lg-10">
            {% if edit %}
            <input type="text" class="form-control" id="taginput" name="tags" placeholder="Enter tags" value="{{news.tags}}" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" autocomplete="off">
            {% else %}
           <input type="text" class="form-control" id="taginput" name="tags" placeholder="Enter tags" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" autocomplete="off">
            {% endif %}
            </div>
        </div>
          {% if edit %}
          <input type="text" class="register-control" id="seoinput" name="seodesc" placeholder="Enter title" style="width:100%;display:none" value="{{news.seo_desc}}"> <br>
          {% else %}
          <input type="text" class="register-control" id="seoinput" name="seodesc" placeholder="Enter title" style="width:100%;display:none"> <br>
          {% endif %}

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" name="preview" value="True" class="btn btn-default">Preview</button>
                {% if request.user.is_superuser %}
                  <button type="submit" name="save" value="True" class="btn btn-primary">Submit</button>
                {% else %}
                <button type="submit" name="done" value="True" class="btn btn-primary">Done</button>
                {% endif %}
                <a href="/" class="btn btn-default" style="float:right">Cancel</a>
              </div>
            </div>
            
</fieldset>
</form>

<form id="my_form" action="/image/upload/" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden;display:none"><input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
</form>
</div>
{% endblock content%}
{% block javascript %}
  {{ block.super }}
   <script type="text/javascript" src="http://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
  <script src="{{STATIC_URL}}js/add_article.js"></script>
<script>
var image_upload = false
if("{{edit}}" == "True")
      {
  function tinymce_init(){
    preview = false
    $("#my_editor").show();
    tinymce.init({
    selector: "#my_editor",
    theme: "modern",
    height : 300,
    plugins: [
        "advlist autolink lists link image charmap preview anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table directionality",
        " template paste textpattern imagetools image"
    ],
    menubar: false,
    toolbar1: "bold italic strikethrough underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | ",
    toolbar2: "preview | insertfile link image media ",
    image_advtab: true,
    theme_advanced_path : false,
    relative_urls: false,
        media_strict: false ,

    file_browser_callback: function(field_name, url, type, win) {
        if(type=='image') $('#my_form input').click();},
    init_instance_callback : function(editor) {
    editor.setContent('{{news.content|safe|escapejs}}');
      },
    });}
      $('#myImg').attr('src', "{{news.coverimage}}");
      image_upload = true
    }
    else
    {

    function tinymce_init(){
    preview = false
    $("#my_editor").show();
    tinymce.init({
    selector: "#my_editor",
    theme: "modern",
    height : 300,
    plugins: [
        "advlist autolink lists link image charmap preview anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table directionality",
        " template paste textpattern imagetools image"
    ],
    menubar: false,
    toolbar1: "bold italic strikethrough underline| alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | ",
    toolbar2: "preview | insertfile link image media ",
    image_advtab: true,
    theme_advanced_path : false,
    relative_urls: false,
    media_strict: false ,
    file_browser_callback: function(field_name, url, type, win) {
        if(type=='image') $('#my_form input').click();},
    init_instance_callback : function(editor) {
    editor.setContent('{{news.content|safe|escapejs}}');
      },
  });
  }

    }
</script>

{% endblock javascript %}