{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Small Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/custom.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

</head>
<body>

{% block ad%}

<div id="flashContent" class="container" style="text-align:center; padding:0px; margin-top:51px">
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="728" height="90" id="OLX_htgifa_728x90" align="middle" style="float:left;">
        <param name="movie" value="OLX_htgifa_728x90.swf">
        <param name="quality" value="high">
        <param name="bgcolor" value="#f47920">
        <param name="play" value="true">
        <param name="loop" value="true">
        <param name="wmode" value="window">
        <param name="scale" value="showall">
        <param name="menu" value="true">
        <param name="devicefont" value="false">
        <param name="salign" value="">
        <param name="allowScriptAccess" value="sameDomain">
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="{{STATIC_URL}}image/OLX_htgifa_728x90.swf" width="728" height="90">
          <param name="movie" value="OLX_htgifa_728x90.swf">
          <param name="quality" value="high">
          <param name="bgcolor" value="#f47920">
          <param name="play" value="true">
          <param name="loop" value="true">
          <param name="wmode" value="window">
          <param name="scale" value="showall">
          <param name="menu" value="true">
          <param name="devicefont" value="false">
          <param name="salign" value="">
          <param name="allowScriptAccess" value="sameDomain">
        <!--<![endif]-->
          <a href="http://www.adobe.com/go/getflash">
            <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player">
          </a>
        <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>

      <object id="FlashID4" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="238" height="90" style="float:right;">
        <param name="movie" value="http://www.htgifa.hindustantimes.com/addons/shared_addons/themes/gifa/flash-file/OLX_htgifa_238x90.swf">
        <param name="quality" value="high">
        <param name="wmode" value="opaque">
        <param name="swfversion" value="9.0.45.0">
        <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
        <param name="expressinstall" value="Scripts/expressInstall.swf">
        <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="http://www.htgifa.hindustantimes.com/addons/shared_addons/themes/gifa/flash-file/OLX_htgifa_238x90.swf" width="238" height="90">
          <!--<![endif]-->
          <img src="http://www.htgifa.hindustantimes.com/addons/shared_addons/themes/gifa/img/olx-2.jpg">
          <param name="quality" value="high">
          <param name="wmode" value="opaque">
          <param name="swfversion" value="9.0.45.0">
          <param name="expressinstall" value="Scripts/expressInstall.swf">
          <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
          <div>
            <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
            <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"></a></p>
          </div>
          <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
      
</div>
{% endblock ad%}



{% block content%}
{% endblock content%}

    {% block javascript %}
    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    {% endblock javascript %}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
      <script>
      function save_user(name,firstname,lastname,email,writer,image){
        $.ajax({
                      url: '/api/user_data/',
                      dataType: 'json',
                      type: 'post',
                      data: {"name":name,"firstname":firstname,"lastname":lastname,"email":email},
                      success: function(){
                          if(writer)
                          { 
                            window.location.href = window.location.origin +"/write_article.htm"
                          }
                          else if(image)
                          {
                           window.location.href = window.location.origin +"/upload_image.htm"
                          }
                      },
                  });
      }
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '650357158334096',
          cookie     : true, 
          xfbml      : true,  
          version    : 'v2.2'
        });
         {% if not request.user.is_authenticated %}
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected' ) 
                  { 
                      fbSignin(response)
                      return;
                  }
              });
          {% else %}
            FB.getLoginStatus(function(response) {
                if (response.status === 'connected' ) 
                  { 
                      FB.api('/me', function(response){});
                      userId = response.authResponse.userID
                      $("#fb_image").attr("src","http://graph.facebook.com/"+userId+"/picture?type=normal")
                      return;
                  }
              });
          {% endif %}
    }

      function fbLogin(writer,image){
        image = typeof image !== 'undefined' ? image : false;
        FB.login(function(response) {

            if (response.authResponse) {
                fbSignin(response,writer,image)
            } 
            else {
                console.log('User cancelled login or did not fully authorize.');
            }
        }, {
            scope: 'publish_actions,email'
        });
      }
    
    function fbSignin(response,writer,image){
      FB.api('/me', function(response) {
                    save_user(response.name,response.first_name,response.last_name,response.email,writer,image)
                });
    }
 
  </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=173683929332675";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

</body></html>