{% extends "base.html" %}
{% block content%}
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
<div class="header" style="padding: 20px 0px 0px; min-height: 240px; ">
      <div class="col-sm-7" style="padding-left: 0px;">
          <img class="pull-left" src="{{STATIC_URL}}image/gifa-logo2.png" width="132px" height="251px" style=" ">
          <div class="reg-area">
	<h3 style="padding-top:20px">The Final Schedules are out</h3>
<h4 style="margin-top:20px;">
<a href="http://www.htgifa.hindustantimes.com/gurgaon-final.htm">Click here for Gurgaon Match Schedule</a>
</h4>

<h4 style="margin-top:20px;">
<a href="http://www.htgifa.hindustantimes.com/delhi-final.htm">Click here for Delhi Match Schedule</a>
</h4>
            
</div>
      </div>
        <div class="col-sm-2">
          <!-- <a href="/"> -->
          <!-- <img class="" src="{{STATIC_URL}}image/gifa-01.png" style="width: 200px;"> -->
          <!-- </a> -->
        </div>
    
       <div class="col-sm-5 hidden-sm hidden-xs" style="text-align:right; padding-right: 0px;">
            <a href="http://www.hindustantimes.com/" target="_blank" class=" "><img src="{{STATIC_URL}}image/ht-logo.png"></a><p style="color: #fff; font-size:10px;margin-top: 20px; padding-right: 10px;">Powered by</p>
          <ul style="margin:0px; padding: 0;margin-bottom: 30px;">
                <li style="list-style-type:none; display: inline-block;">
                  <a href="http://www.olx.in/" target="_blank"><img src="{{STATIC_URL}}image/olx-01.png" style="width:48px;"></a>
                </li>
                <li style="list-style-type:none; display: inline-block; margin-left: 20px;">
                  <a href="http://www.saregroup.com/" target="_blank"><img src="{{STATIC_URL}}image/saare-home.png"></a>
                </li>
          </ul>

         </div>
      <div class="clearfix"></div>

</div>
<!-- Page Contentss -->
    <div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
        

    <div class="container" style="background:rgba(255,255,255, 0.1);">

    
         
<div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

  <div class="col-lg-12 col-md-12 news-detail">

<h2>Delhi Matches</h2>
<a href="/rules.htm" style="float:right"><h4>Match Rules</h4></a>

<h5 style="color:#222">The venue for all the Teams registered in Delhi will be <a href="/venue/delhi.htm">Delhi Public School, RK Puram.</a></h5>

<br/>
<div class="tab-pane fade active in" id="home">
  <h1>11thOct</h1>
<table cellspacing="0" border="0">
  <colgroup span="4" width="85"></colgroup>
  <colgroup width="121"></colgroup>
  <colgroup span="5" width="85"></colgroup>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=10 rowspan=3 height="51" align="center" valign=bottom><font face="Calibri" size=7 color="#000000">Round 4</font></td>
    </tr>
  <tr>
    </tr>
  <tr>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 41</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 42</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 43</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 44</font></td>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="74" align="left" valign=bottom><font face="Calibri" color="#000000">Slot 1</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#FAC090"><font face="Calibri" color="#000000">1:00 pm - 1:30 pm</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>APJ United</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Delhi City FC</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>K R Mangalam 90 Minutes Football Club</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Columban FC</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Air India 2 (Vasant Vihar)</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">School Junior Team (A)</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Jalsa Aravali Strikers</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Vishal Megamart Barca Boys</font></td>
  </tr>
  <tr>
    <td colspan=1024 height="17" align="center" valign=middle>Changeover Time</td>
    </tr>
  <tr>
    <td height="20" align="left"><br></td>
    <td align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 45</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 46</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 47</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 48</font></td>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="38" align="left" valign=bottom><font face="Calibri" color="#000000">Slot 2</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#FAC090"><font face="Calibri" color="#000000">1:40 pm - 2:10 pm</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>FAS United</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Impact (Vasant Kunj)</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>DPS Boys Hostel</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>K R Mangalam hypernenom</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Red Devils</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Furious 9</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>LBS Football Club</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Galaxy7</td>
  </tr>
  <tr>
    <td colspan=1024 height="17" align="center" valign=middle>Changeover Time</td>
    </tr>
  <tr>
    <td height="20" align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 49</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 50</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 51</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 52</font></td>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="62" align="left" valign=bottom><font face="Calibri" color="#000000">Slot 3</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#FAC090"><font face="Calibri" color="#000000">2:20 pm - 2:50 pm</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Indian Champs</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Ravens FC</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Invincibles FC</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Leaders FC</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Sanghursh Sports Academy Team B</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Sshivaji FC</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Shadoows</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>STS Rockers</td>
  </tr>
  <tr>
    <td colspan=1024 height="17" align="center" valign=middle>Changeover Time</td>
    </tr>
  <tr>
    <td height="20" align="left"><br></td>
    <td align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 53</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 54</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 55</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 56</font></td>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="38" align="left" valign=bottom><font face="Calibri" color="#000000">Slot 4</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#FAC090"><font face="Calibri" color="#000000">3:00 pm - 3:30 pm</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>The Knights</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Soccer Rockers</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>LFA Remi Yoush</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Moti Bagh Warriors</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Thunder Stars</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Vasant Vihar D6</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Slackers</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Street Football Club</td>
  </tr>
  <tr>
    <td colspan=1024 height="17" align="center" valign=middle>Changeover Time</td>
    </tr>
  <tr>
    <td height="20" align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 57</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 58</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 59</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 60</font></td>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="76" align="left" valign=bottom><font face="Calibri" color="#000000">Slot 5</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#FAC090"><font face="Calibri" color="#000000">3:40 pm - 4:10 pm</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Ultimate Warriors</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Junior Tigers</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Senco Gold The Frank Anthony Public School</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Warrior</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Young Boys</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>Vasant Vihar D2</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>GG Boys</td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>DPS Sr. Boys RK Puram</td>
  </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="38" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#C6D9F1"><font face="Calibri" color="#000000">4:10 pm - 4:40 pm</font></td>
    <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=8 align="center" valign=bottom><b><font face="Calibri" color="#000000">30 minutes break</font></b></td>
    </tr>
  <tr>
    <td height="18" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td align="center" valign=bottom><b><font face="Calibri" color="#000000"><br></font></b></td>
    <td align="center" valign=bottom><b><font face="Calibri" color="#000000"><br></font></b></td>
    <td align="center" valign=bottom><b><font face="Calibri" color="#000000"><br></font></b></td>
    <td align="center" valign=bottom><b><font face="Calibri" color="#000000"><br></font></b></td>
    <td align="center" valign=bottom><b><font face="Calibri" color="#000000"><br></font></b></td>
    <td align="center" valign=bottom><b><font face="Calibri" color="#000000"><br></font></b></td>
    <td align="center" valign=bottom><b><font face="Calibri" color="#000000"><br></font></b></td>
    <td align="center" valign=bottom><b><font face="Calibri" color="#000000"><br></font></b></td>
  </tr>
  <tr>
    <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 61</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 62</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 63</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 64</font></td>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="38" align="left" valign=bottom><font face="Calibri" color="#000000">Slot 6</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#FAC090"><font face="Calibri" color="#000000">4:40 pm - 5:10 pm</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Jr Quart 1</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Jr Quart 2</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Sr Quart 1</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Sr Quart 2</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Jr Quart 3</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Jr Quart 4</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Sr Quart 3</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Sr Quart 4</font></td>
  </tr>
  <tr>
    <td colspan=10 height="51" align="center"><font size=7>Quarter Finals</font></td>
    </tr>
  <tr>
    <td height="20" align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 65</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 66</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 67</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 68</font></td>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="38" align="left" valign=bottom><font face="Calibri" color="#000000">Slot 7</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#FAC090"><font face="Calibri" color="#000000">5:20 pm - 5:50 pm</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Calibri" color="#000000">Jr Quart 5</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Calibri" color="#000000">Jr Quart 6</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Calibri" color="#000000">Sr Quart 5</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Calibri" color="#000000">Sr Quart 6</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Calibri" color="#000000">Jr Quart 7</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Jr Quart 8</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Calibri" color="#000000">Sr Quart 7</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Calibri" color="#000000">Sr Quart 8</font></td>
  </tr>
  <tr>
    <td colspan=10 rowspan=2 height="51" align="center"><font size=7>Semi Finals</font></td>
    </tr>
  <tr>
    </tr>
  <tr>
    <td height="20" align="left"><br></td>
    <td align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 69</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 70</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
  </tr>
  <tr>
    <td height="38" align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#FAC090" sdnum="16393;0;HH:MM AM/PM"><font face="Calibri" color="#000000">6:00 pm - 6:40 pm</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000">Winner 61</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000">Winner 63</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000">Winner 62</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000">Winner 64</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="left" valign=middle><font face="Calibri" color="#000000">Slot 8</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#C6D9F1"><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
  </tr>
  <tr>
    <td height="20" align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 71</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 72</font></td>
    </tr>
  <tr>
    <td height="38" align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="left" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">6:40 pm - 7:20 pm</font></td>
    <td align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td colspan=2 align="center" valign=bottom><b><font face="Calibri" color="#000000"><br></font></b></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Winner 65</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Winner 67</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Winner 66</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Winner 68</font></td>
  </tr>
  <tr>
    <td colspan=10 rowspan=2 height="60" align="center" valign=middle><font size=7>Finals</font></td>
    </tr>
  <tr>
    </tr>
  <tr>
    <td height="20" align="left"><br></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#DCE6F2"><font face="Calibri" color="#000000">Match 73</font></td>
    <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom bgcolor="#FCD5B5"><font face="Calibri" color="#000000">Match 74</font></td>
    </tr>
  <tr>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="38" align="left" valign=bottom><font face="Calibri" color="#000000">Slot 9</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#FAC090"><font face="Calibri" color="#000000">8:00 pm -8: 45 pm</font></td>
    <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000">Winner 69</font></td>
    <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><font face="Calibri" color="#000000">Winner 71</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri" color="#000000"><br></font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri" color="#000000">Winner 70</font></td>
    <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#FFFFFF"><font face="Calibri" color="#000000">Winner 72</font></td>
  </tr>
</table>
</div>

<br/>
<br/>
<br/>
<br/>
  </div>



</div>
       
        <!-- Footer -->
        </div>
{% include "footer.html"%}


    </div>




    </div>
   <!-- /.container -->
{% endblock content%}
