
<div class="col-lg-12" style="display: block;    text-align: center;    margin-bottom: 20px;margin-top: 20px;">
<img src="/static/image/ad_2.jpg" style="max-width: 100%; ">
<img src="/static/image/olx2.jpg" style="max-width: 100%;margin-top:20px ">
</div>

    <footer style="background:rgba(0,0,0, 0.1); height: 250px; padding: 20px 0px;text-align:centre">
    
            <div class="container">
                <div class="col-lg-12">
                    <p style="margin-top:60px;text-align:center">Copyright © HT Media 2015</p>
                </div>
            </div>
      </footer>
