{% extends "base.html" %}
{% block content%}

     <!-- Page Content -->
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
      {% include "header.html"%}
</div>

    <!-- Page Content -->
<div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
<div class="container" style="background:rgba(255,255,255, 0.1);">         
  <div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

  <div class="col-lg-9 col-md-8 left-more-news">
  <h3 style="margin-top:0;">Latest Images</h3>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" >
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div id="links" style="text-align:center">
    {% for image in image_list %}
    <a  href="{{image.image}}" title="{{image.title}}" data-gallery style="background-color: WHITE;padding: 2px;display: inline-block; max-width: 204px;max-height: 124px;text-align: center;vertical-align: middle;">
        <img  src="{{image.image}}" alt="{{image.title}}" style=" max-width: 200px;max-height: 120px;">
    </a>
    {% endfor %}
</div>
{% if page_list|length > 1%}
      <div style="text-align:center; padding: 10px;">
      {% if image_list.number != page_list|first  %}
      <a href="?page={{image_list.previous_page_number}}">< Previous</a>
      {% endif %}
    {% for page in page_list%}
      {% if page == image_list.number %}
      <a href="?page={{page}}" style="color:black">{{page}}</a>
      {% else %}
      <a href="?page={{page}}">{{page}}</a>
      {% endif %}
    {% endfor %}
    {% if image_list.number != page_list|last  %}
      <a href="?page={{image_list.next_page_number}}">Next ></a>
      {% endif %}
    </div>
    {% endif %}
</div>
<div class="col-lg-3  col-md-4">
<div class="panel panel-primary panel-tweets">
  <div class="panel-heading">
    <h3 class="panel-title">Tweets</h3>
  </div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/htgifa" data-widget-id="641207408245669888">#htgifa Tweets</a>
  </div>
  </div>
</div>
       
    </div>
     </div>
       
      {% include "footer.html"%}
     </div>
       



   
    <!-- /.container -->
</div>
{% endblock content%}

{% block javascript %}
  {{ block.super }}
  <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
  
{% endblock javascript %}