{% extends "base.html" %}
{% block content%}

{% if trivia %}
<style>
#links a {
max-width: 280px !important;
max-height: 280px !important;
margin: 10px;
}

#links a img {
max-width: 280px !important;
max-height: 280px !important;
}
@media (max-width: 480px) {
div#links a {
    padding: 4px !important;
    width: 100%;
}}

@media (min-width: 1220px) {
#links a {
max-width: 240px !important;
max-height: 240px !important;
margin: 10px;
}

#links a img {
max-width: 240px !important;
max-height: 240px !important;
}

}

</style>
{% endif %}

     <!-- Page Content -->
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
      {% include "header.html"%}
</div>

    <!-- Page Content -->
<div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
<div class="container" style="background:rgba(255,255,255, 0.1);">         
  <div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

  <div class="col-lg-9 col-md-8 left-more-news">
  {% if trivia %}
  <h3 style="margin-top:0;">Trivia</h3>
  {% else %}
  <h3 style="margin-top:0;">Photo Gallery</h3>
  {% endif %}
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="    z-index: 9999;" >
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <h4 class="description"></h4>
    <a class="btn btn-social-icon btn-facebook" id="fb_share" style="position: absolute;
    top: 75px;left: 23px;background-color: white;
    border-radius: 0px;"><i class="fa fa-facebook fa-lg"></i></a>
    <a class="btn btn-social-icon  btn-google" id="go_share" style="position: absolute;
    top: 75px;
    left: 62px;
    background-color: white;
    border-radius: 0px;"><i class="fa fa-google-plus fa-lg"></i></a>
    <a class="btn btn-social-icon  btn-twitter" id="twt_share" style="    position: absolute;top: 75px;
    left: 107px;
    background-color: white;
    border-radius: 0px;"><i class="fa fa-twitter fa-lg"></i></a>
 
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div id="links" style="text-align:center">
    {% for image in image_list %}
    <a  href="{{image.image}}" title="{{image.title}}" {% if image.user %} data-description=" By {{image.user|title}}"{% else %}data-description=" By Anonymous User"{% endif %} data-imageId="{{image.id}}" data-gallery style="background-color: WHITE;padding: 2px;display: inline-block; max-width: 204px;max-height: 124px;text-align: center;vertical-align: middle;">
        <img  src="{{image.image}}" alt="{{image.title}}"  style=" max-width: 200px;max-height: 120px;">
    </a>
    {% endfor %}
</div>
{% if page_list|length > 1%}
      <div style="text-align:center; padding: 10px;">
      {% if image_list.number != page_list|first  %}
      <a href="?page={{image_list.previous_page_number}}">< Previous</a>
      {% endif %}
    {% for page in page_list%}
      {% if page == image_list.number %}
      <a href="?page={{page}}" style="color:black">{{page}}</a>
      {% else %}
      <a href="?page={{page}}">{{page}}</a>
      {% endif %}
    {% endfor %}
    {% if image_list.number != page_list|last  %}
      <a href="?page={{image_list.next_page_number}}">Next ></a>
      {% endif %}
    </div>
    {% endif %}
</div>
<div class="col-lg-3  col-md-4">
<div class="panel panel-primary panel-tweets">
  <div class="panel-heading">
    <h3 class="panel-title">Tweets</h3>
  </div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/htgifa" data-widget-id="641207408245669888">#htgifa Tweets</a>
  </div>
  </div>
</div>
       
    </div>
     </div>
       
      {% include "footer.html"%}
     </div>
       



   
    <!-- /.container -->
</div>
{% endblock content%}

{% block javascript %}
  {{ block.super }}
  <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
  <script>
  $(document).ready(function(){

document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event,hidePageScrollbars: false, onslide: function (index, slide) {
            var text = this.list[index].getAttribute('data-description'),
                node = this.container.find('.description');
                share_title = this.list[index].getAttribute('title')
                share_href = document.location.host+this.list[index].getAttribute('href')
                share_url = document.location.host+"/gallery/"+this.list[index].getAttribute('data-imageId')+".htm";
                ga('create', 'UA-67853897-1', 'auto');
                ga('send', 'pageview');
            node.empty();
            if (text) {
                node[0].appendChild(document.createTextNode(text));
            }
        } },
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
  $("#fb_share").click(function(){
    var post_data = {"method": 'feed',"name":share_title,"description":share_title,"link": share_url,"picture":share_href}; 
        FB.ui( post_data, function(response){

        });
      $("#twt_share").click(function(){
                  var tweetURI = "https://twitter.com/intent/tweet?text="+ share_title +" "+ share_url ;
                  window.open(tweetURI);
              });

        $("#go_share").click(function(){
            var gplusURI = "https://plus.google.com/share?url="+ share_url;
            window.open(gplusURI);
        }) 
})

})
</script>
{% endblock javascript %}
