<div class="header" style="padding: 20px 0px 0px; min-height: 240px; ">
      <div class="col-sm-7" style="padding-left: 0px;">
          <img class="pull-left" src="{{STATIC_URL}}image/gifa-logo2.png" width="132px" height="251px" style=" ">
          <div class="reg-area">

            <h3 style="padding-top:20px">The Final Schedules are out</h3>
<h4 style="margin-top:20px;">
<a href="http://www.htgifa.hindustantimes.com/gurgaon-final.htm">Click here for Gurgaon Match Schedule</a>
</h4>

<h4 style="margin-top:20px;">
<a href="http://www.htgifa.hindustantimes.com/delhi-final.htm">Click here for Delhi Match Schedule</a>
</h4>
<!--
            <h2 style="font-size:20px; margin-top:10px;">Teams qualifying for Pre-quarter finals will be notified through email and calls to the team manager.</h2> -->
<!--
<h3 style="font-size: 26px; padding-top:20px;">Due to the overwhelming response from kids and parents, HT GIFA will have an extra day of matches on 10th Oct giving all the Pool Toppers a chance to play.</h3>
-->

            <!--<h1>IS BACK!</h1>-->
          </div>
      </div>
        <div class="col-sm-2">
          <!-- <a href="/"> -->
          <!-- <img class="" src="{{STATIC_URL}}image/gifa-01.png" style="width: 200px;"> -->
          <!-- </a> -->
        </div>
    
       <div class="col-sm-5 hidden-sm hidden-xs" style="text-align:right; padding-right: 0px;">
            <a href="http://www.hindustantimes.com/" target="_blank" class=" "><img src="{{STATIC_URL}}image/ht-logo.png"></a><p style="color: #fff; font-size:10px;margin-top: 20px; padding-right: 10px;">Powered by </p>
          <ul style="margin:0px; padding: 0;margin-bottom: 30px;">
                <li style="list-style-type:none; display: inline-block;">
                  <a href="http://www.olx.in/" target="_blank"><img src="{{STATIC_URL}}image/olx-01.png" style="width:48px;"></a>
                </li>
                <li style="list-style-type:none; display: inline-block; margin-left: 20px;">
                  <a href="http://www.saregroup.com/" target="_blank"><img src="{{STATIC_URL}}image/saare-home.png"></a>
                </li>
          </ul>

         </div>
      <div class="clearfix"></div>

</div>
