<div class="header" style="padding: 20px 0px 0px; min-height: 240px; ">
      <div class="col-sm-5" style="padding-left: 0px;">
          <img class="pull-left" src="{{STATIC_URL}}image/gifa-logo.png" style=" ">
          <div class="reg-area">
            <h3>GREAT INDIAN</h3>
            <h2>FOOTBALL ACTION</h2>
            <h1>IS BACK!</h1>
          </div>
      </div>
        <div class="col-sm-2">
          <!-- <a href="/"> -->
          <!-- <img class="" src="{{STATIC_URL}}image/gifa-01.png" style="width: 200px;"> -->
          <!-- </a> -->
        </div>
    
       <div class="col-sm-5 hidden-sm hidden-xs" style="text-align:right; padding-right: 0px;">
            <a href="http://www.hindustantimes.com/" class=" "><img src="{{STATIC_URL}}image/ht-logo.png"></a><p style="color: #fff; font-size:10px;margin-top: 20px; padding-right: 10px;">Powered by </p>
          <ul style="margin:0px; padding: 0;margin-bottom: 30px;">
                <li style="list-style-type:none; display: inline-block;">
                  <a href="http://olx.in/"><img src="{{STATIC_URL}}image/olx-01.png" style="width:48px;"></a>
                </li>
                <li style="list-style-type:none; display: inline-block; margin-left: 20px;">
                  <a href="http://www.saregroup.com/"><img src="{{STATIC_URL}}image/saare-home.png"></a>
                </li>
          </ul>

         </div>
      <div class="clearfix"></div>

</div>