{% extends "base.html" %}
{% block content%}
  
  <div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px;">

      {% include "header.html"%}
    </div>
<div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
<div class="container" style="background:rgba(255,255,255, 0.1);">         
  <div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

  <div class="col-lg-9 col-md-8 left-more-news">
  <h3 style="margin-top:0;">Pending Images</h3>
  {% if image_list%}
  {% for image in image_list %}
  <div class="media">
      <div class="media-left">
        <a href="#" class="pop">
          <img class="media-object center-cropped imageresource" value="{{image.title}}" src="{{image.image}}" data-holder-rendered="true">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{image.title}}</h4>
        
        
        <ul class="list-inline"><li>By <a {% if image.fb_id %}href="{{image.fb_id}}"{%else%}href="#"{% endif %}>{{image.user}}</a>
        <a href="/api/image_enable/?image_id={{image.id}}" class="btn btn-success">Submit</a>
        <a href="/api/image_reject/?image_id={{image.id}}" class="btn btn-danger">Reject</a>
       
      </div>
    </div>
    {% endfor %}

    {% if page_list|length > 1%}
      <div style="text-align:center; padding: 10px;">
      {% if image_list.number != page_list|first  %}
      <a href="?page={{news_list.previous_page_number}}">< Previous</a>
      {% endif %}
    {% for page in page_list%}
      {% if page == image_list.number %}
      <a href="?page={{page}}" style="color:black">{{page}}</a>
      {% else %}
      <a href="?page={{page}}">{{page}}</a>
      {% endif %}
    {% endfor %}
    {% if image_list.number != page_list|last  %}
      <a href="?page={{image_list.next_page_number}}">Next ></a>
      {% endif %}
    </div>
    {% endif %}
     {% else %}
     <h2><span class="label label-success">No Image left for moderation</span></h2>
     {% endif %}
  </div>

<!-- Modal -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body" style="text-align: center">
        <img src="" id="imagepreview" style="width: 400px; height: 264px;" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-3  col-md-4">
<div class="panel panel-primary panel-tweets">
  <div class="panel-heading">
    <h3 class="panel-title">Tweets</h3>
  </div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/htgifa" data-widget-id="641207408245669888">#htgifa Tweets</a>
  </div>
  </div>
</div>
       
    </div>
     </div>
        <footer style="    background:rgba(0,0,0, 0.1); height: 250px; padding: 20px 0px;">
            <div class="container">
                <div class="col-lg-12">
                    <p>Copyright © HT Media 2015</p>
                </div>
            </div>
        </footer>



   
    <!-- /.container -->
</div>
{% endblock content%}
{% block javascript %}
  {{block.super}}
<script>

  $(document).ready(function(){
    $(".pop").on("click", function() {
      console.log($(this).children().val())
     $('#imagepreview').attr('src', $(this).children().attr('src'));
     $('#myModalLabel').text($(this).children().attr('value'))
     $('#imagemodal').modal('show');
   
    });
  })
  </script>
{% endblock javascript %}

