{% extends "base.html" %}
{% block content%}

     <!-- Page Content -->
     <div class="container" style="background-color: #D6D6D6;height: 90px;position: fixed;z-index: 99999;margin-top: 0;left: 4px;margin-top: 51px;width: 100%;bottom: 0px;text-align: center;">     
      
    {% if request.user.is_superuser %}
      <a href="/api/image_disable/?image_id={{image.id}}" class="btn btn-danger">Reject</a>
    {% endif %}
  
      </div>
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
      {% include "header.html"%}
</div>

    <!-- Page Content -->
<div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
<div class="container" style="background:rgba(255,255,255, 0.1);">         
  <div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

  <div class="col-lg-9 col-md-8 left-more-news" >
      <h1>{{image.title}}</h1>
    <div>
    <div class="news_metadata col-sm-6">
      By  <a {% if image.fb_id %}href="{{image.fb_id}}"{%else%}href="#"{% endif %}>{{image.user}}</a>
    </div>
    </br>
    </div>
  <img title="{{image.title|title}}" src="{{image.image}}" style="width:100%;" class="img-responsive">
  </div>
<div class="col-lg-3  col-md-4">
<div class="panel panel-primary panel-tweets">
  <div class="panel-heading">
    <h3 class="panel-title">Tweets</h3>
  </div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/htgifa" data-widget-id="641207408245669888">#htgifa Tweets</a>
  </div>
  </div>
</div>
       
    </div>
     </div>
       
      {% include "footer.html"%}
     </div>
       



   
    <!-- /.container -->
</div>
{% endblock content%}

