{% extends "base.html" %}
{% block content%}
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
<div class="header" style="padding: 20px 0px 0px; min-height: 240px; ">
      <div class="col-sm-7" style="padding-left: 0px;">
          <img class="pull-left" src="{{STATIC_URL}}image/gifa-logo2.png" width="132px" height="251px" style=" ">
          <div class="reg-area">
	<h3 style="padding-top:20px">HTGIFA 2015 WINNERS</h3>
<h4 style="margin-top:20px;">
DELHI:Ultimate Warriors (Jr) & DPS Senior Boys R.K Puram(Sr)
</h4>

<h4 style="margin-top:20px;">
Gurgaon: Nirvana Skill Blazers (Jr) & Palms FC (Sr)
</h4>
            
</div>
      </div>
        <div class="col-sm-2">
          <!-- <a href="/"> -->
          <!-- <img class="" src="{{STATIC_URL}}image/gifa-01.png" style="width: 200px;"> -->
          <!-- </a> -->
        </div>
    
       <div class="col-sm-5 hidden-sm hidden-xs" style="text-align:right; padding-right: 0px;">
            <a href="http://www.hindustantimes.com/" target="_blank" class=" "><img src="{{STATIC_URL}}image/ht-logo.png"></a><p style="color: #fff; font-size:10px;margin-top: 20px; padding-right: 10px;">Powered by</p>
          <ul style="margin:0px; padding: 0;margin-bottom: 30px;">
                <li style="list-style-type:none; display: inline-block;">
                  <a href="http://www.olx.in/" target="_blank"><img src="{{STATIC_URL}}image/olx-01.png" style="width:48px;"></a>
                </li>
                <li style="list-style-type:none; display: inline-block; margin-left: 20px;">
                  <a href="http://www.saregroup.com/" target="_blank"><img src="{{STATIC_URL}}image/saare-home.png"></a>
                </li>
          </ul>

         </div>
      <div class="clearfix"></div>
       <ul class="region nav nav-tabs" style="padding-left: 20px;margin-top:20px">
      <li {% if city == "Delhi" %} class="active"{% endif%}><a href="/matches.htm?city=Delhi"  style="padding: 10px 30px;">Delhi</a></li>
      <li {% if city == "Gurgaon" %} class="active"{% endif%}><a href="/matches.htm?city=Gurgaon">Gurgaon</a></li>
      </ul>

</div>
<!-- Page Contentss -->
    <div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
        

    <div class="container" style="background:rgba(255,255,255, 0.1);">

    
         
<div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

  <div class="col-lg-9 col-md-8 news-detail">

<h2>{{city}} Matches</h2>
<a href="/rules.htm" style="float:right"><h4>Match Rules</h4></a>
{% if city == "Delhi" %}
<h5 style="color:#222">The venue for all the Teams registered in Delhi will be <a href="/venue/delhi.htm">Delhi Public School, RK Puram.</a></h5>
{% else %}
<h5 style="color:#222">The venue for all the Teams registered in Gurgaon will be <a href="/venue/gurgaon.htm">Ansal University.</a></h5>
{% endif %}

<br/>
{% if city == "Gurgaon" %}
<ul class=" match nav nav-pills">
      <li {% if match_list.number == 1 %} class="active" {% endif %}><a href="?page=1&city=Gurgaon"  style="padding: 10px 30px;">Sept 26</a></li>
      <li {% if match_list.number == 2 %} class="active" {% endif %}><a href="?page=2&city=Gurgaon"  style="padding: 10px 30px;">Sept 27</a></li>
      <li {% if match_list.number == 3 %} class="active" {% endif %}><a href="?page=3&city=Gurgaon"  style="padding: 10px 30px;">Oct 3</a></li>
      <li {% if match_list.number == 4 %} class="active" {% endif %}><a href="?page=4&city=Gurgaon"  style="padding: 10px 30px;">Oct 4</a></li>
      <li><a href="/gurgaon-final.htm"  style="padding: 10px 30px;">Final Schedule</a></li>
</ul>
{% endif %}
{% if city == "Delhi" %}
<ul class=" match nav nav-pills" style="padding-left: 20px;margin-top:20px">
      <li  {% if match_list.number == 1 %} class="active" {% endif %}><a href="?page=1&city=Delhi"  style="padding: 10px 30px;">Sept 26</a></li>
      <li  {% if match_list.number == 2 %} class="active" {% endif %}><a href="?page=2&city=Delhi"  style="padding: 10px 30px;">Sept 27 (morning)</a></li>
      <li  {% if match_list.number == 3 %} class="active" {% endif %}><a href="?page=3&city=Delhi"  style="padding: 10px 30px;">Sept 27 (evening)</a></li>
      <li  {% if match_list.number == 4 %} class="active" {% endif %}><a href="?page=4&city=Delhi"  style="padding: 10px 30px;">Oct 3</a></li>
      <li  {% if match_list.number == 5 %} class="active" {% endif %}><a href="?page=5&city=Delhi"  style="padding: 10px 30px;">Oct 4 (morning)</a></li>
      <li  {% if match_list.number == 6 %} class="active" {% endif %}><a href="?page=6&city=Delhi"  style="padding: 10px 30px;">Oct 4 (evening)</a></li>
      <li  {% if match_list.number == 7 %} class="active" {% endif %}><a href="?page=7&city=Delhi"  style="padding: 10px 30px;">Oct 10 (evening)</a></li>
      <li><a href="/delhi-final.htm"  style="padding: 10px 30px;">Final Schedule</a></li>
</ul>
{% endif %}
{% if match_list %}
<br/>
<h4>{{match_list.0.match_date|date:"F d, Y"}}</h4>
{% with match_list|slice:"0:40" as match_list%}
{% include "matchlist_data.html"%}
{% endwith %}
{% else %}
<p>No Matches</p>
{% endif %}
  </div>


  <div class="col-lg-3  col-md-4">
  <div class="panel panel-primary panel-tweets">
  <div class="panel-heading">
    <h3 class="panel-title">Tweets</h3>
  </div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/htgifa" data-widget-id="641207408245669888">#htgifa Tweets</a>
  </div>
  </div>
  
  </div>


</div>
       
        <!-- Footer -->
        </div>
{% include "footer.html"%}


    </div>




    </div>
   <!-- /.container -->
{% endblock content%}
