{% with match_list|slice:"0:4" as match_list and "3:30 pm - 4:00 pm" as time %}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"4:8" as match_list and "4:10p.m - 4:40p.m" as time %}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"8:12" as match_list and "4:50p.m - 5:20p.m" as time%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"12:16" as match_list and "5:30p.m - 6:00p.m" as time%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"16:20" as match_list and "6:10p.m - 6:40p.m" as time%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"20:24" as match_list and "6:50p.m - 7:20p.m" as time%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"24:28" as match_list and "7:30p.m - 8:00p.m" as time%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"28:32" as match_list and "8:10p.m - 8:30p.m" as time%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"32:36" as match_list and "8:40p.m - 9:20p.m" as time%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"36:40" as match_list and "9:30p.m - 10:00p.m" as time%}
{% include "temp.html"%}
{% endwith %}