{% with match_list|slice:"0:4" as match_list%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"4:8" as match_list%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"8:12" as match_list%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"12:16" as match_list%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"16:20" as match_list%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"20:24" as match_list%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"24:28" as match_list%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"28:32" as match_list%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"32:36" as match_list%}
{% include "temp.html"%}
{% endwith %}
{% with match_list|slice:"36:40" as match_list%}
{% include "temp.html"%}
{% endwith %}