{% extends "base.html" %}
{% block content%}

     <!-- Page Content -->
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
      {% include "header.html"%}
</div>

    <!-- Page Content -->
<div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
<div class="container" style="background:rgba(255,255,255, 0.1);margin: 20px auto;
    text-align: center;">         

  <h2 style="margin-top:0;text-align:center">Sponsors</h2>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  
  <img title="sponser" src="{{STATIC_URL}}image/sponserv1.jpg" style="max-width:100%;width:500px">
  </br>
</br>
</br>
</br>
  <img title="sponser" src="{{STATIC_URL}}image/sponserv2.jpg" style="max-width:100%;width:800px">
       
    </div>
     </div>
       
      {% include "footer.html"%}
     </div>
       



   
    <!-- /.container -->
</div>
{% endblock content%}

