{% extends "base.html" %}
{% block content%}
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
<div class="header" style="padding: 20px 0px 0px; min-height: 240px; ">
      <div class="col-sm-7" style="padding-left: 0px;">
          <img class="pull-left" src="{{STATIC_URL}}image/gifa-logo.png" style=" ">
          <div class="reg-area">
           <h3 style="padding-top:20px">THE FOOTBALL FESTIVAL BEGINS!</h3>
            <h2 style="font-size:26px; margin-top:10px;">COME, CHEER FOR YOUR HOME TEAM</H2>
<h4 style="font-weight:bold;    color: darkorange;">* Fun, food and games for the entire family</h4>
          </div>
      </div>
        <div class="col-sm-2">
          <!-- <a href="/"> -->
          <!-- <img class="" src="{{STATIC_URL}}image/gifa-01.png" style="width: 200px;"> -->
          <!-- </a> -->
        </div>
    
       <div class="col-sm-5 hidden-sm hidden-xs" style="text-align:right; padding-right: 0px;">
            <a href="http://www.hindustantimes.com/" target="_blank" class=" "><img src="{{STATIC_URL}}image/ht-logo.png"></a><p style="color: #fff; font-size:10px;margin-top: 20px; padding-right: 10px;">Powered by</p>
          <ul style="margin:0px; padding: 0;margin-bottom: 30px;">
                <li style="list-style-type:none; display: inline-block;">
                  <a href="http://www.olx.in/" target="_blank"><img src="{{STATIC_URL}}image/olx-01.png" style="width:48px;"></a>
                </li>
                <li style="list-style-type:none; display: inline-block; margin-left: 20px;">
                  <a href="http://www.saregroup.com/" target="_blank"><img src="{{STATIC_URL}}image/saare-home.png"></a>
                </li>
          </ul>

         </div>
      <div class="clearfix"></div>
       <ul class="region nav nav-tabs" style="padding-left: 20px; margin-top:20px;">
      <li {% if city == "Delhi" and group == "junior"%} class="active"{% endif%}><a href="/teams/listing.htm?city=Delhi&group=junior"  style="padding: 10px 30px;">Delhi (Junior)</a></li>
      <li {% if city == "Delhi" and group == "senior"%} class="active"{% endif%}><a href="/teams/listing.htm?city=Delhi&group=senior"  style="padding: 10px 30px;">Delhi (Senior)</a></li>
      <li {% if city == "Gurgaon" and group == "junior" %} class="active"{% endif%}><a href="/teams/listing.htm?city=Gurgaon&group=junior">Gurgaon (Junior)</a></li>
       <li {% if city == "Gurgaon" and group == "senior" %} class="active"{% endif%}><a href="/teams/listing.htm?city=Gurgaon&group=senior">Gurgaon (Senior)</a></li>
      </ul>


</div>



    <!-- Page Content -->
    <div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
        

    <div class="container" style="background:rgba(255,255,255, 0.1);">

    
         
<div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

<div class="col-lg-9 col-md-8 news-detail" id="teams">
<h2>{{city}} Teams</h2>
{% if city == "Delhi" %}
<h5 style="color:#222">The venue for all the Teams registered in Delhi will be <a href="/venue/delhi.htm">Delhi Public School, RK Puram.</a></h5>
{% else %}
<h5 style="color:#222">The venue for all the Teams registered in Gurgaon will be <a href="/venue/gurgaon.htm">Ansal University.</a></h5>
{% endif %}
<br/>
<!--<input class="search form-control" placeholder="Search" style="margin:10px 0px" />-->
<style>
/*
table.table tbody.list tr:last-of-type {
display:none;
}*/ 
</style>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th class="sort" data-sort="name" >Name</th>
      <th class="sort hidden-xs" data-sort="manager" >Manager's Name</th>
      <th class="sort hidden-xs" data-sort="game" >Games Played</th>
      <th class="sort hidden-xs" data-sort="total_goal" >Goals For</th>
      <th class="sort hidden-xs" data-sort="total_goal_faced" >Goals Against</th>
      <th class="sort hidden-xs" data-sort="draw" >Draw</th>
      <th class="sort hidden-xs" data-sort="win" >Win</th>
      <th class="sort hidden-xs" data-sort="loss" >Loss</th>
      <th class="sort hidden-xs" data-sort="Points" >Points</th>

      {% if city == "Gurgaon" %}
      <th class="sort hidden-xs" data-sort="pool">Pool</th>
      {% endif %}
      <th class="sort hidden-xs" data-sort="group">Group</th>
      
      <th class="hidden-lg hidden-md hidden-sm" data-sort="group">Stats</th>
    </tr>
  </thead>
  <tbody class="list">
  {% for team in team_list %}
    <tr>
      <td class="name">
      <a href="{{team.get_absolute_url}}">{{team.team_name}}</a>
      <div class="hidden-lg hidden-md hidden-sm" >
      <b>Manager:</b> {{team.team_manager}} <br/>
      <b>Group:</b> {% if team.team_group == 1%}Senior{% else %}Junior{% endif %} <br/><br/>
	{% if city == "Gurgaon" %}
      	  <div><b>Pool:</b> {{team.pool_no}}</div>
      	{% endif %}

      </div>
      </td>
      <td class="manager hidden-xs">{{team.team_manager}}</td>
      <td class="game hidden-xs">{{team.games_played}}</td>
      <td class="total_goal hidden-xs">{{team.total_goal}}</td>
      <td class="total_goal_faced hidden-xs">{{team.total_goal_faced}}</td>
      <td class="draw hidden-xs">{{team.draw}}</td>
      <td class="win hidden-xs" >{{team.win}}</td>
      <td class="loss hidden-xs">{{team.loss}}</td>
      <td class="points hidden-xs">{{team.point}}</td>

      {% if city == "Gurgaon" %}
      <td class="pool hidden-xs">{{team.pool_no}}</td>
      {% endif %}
      {% if team.team_group == 1%}
      <td class="group hidden-xs">Senior</td>
      {% else %}
      <td class="group hidden-xs">Junior</td>
      {% endif %}

      <td class="hidden-lg hidden-md hidden-sm" width="50%">
        <div><b>Games Played:</b> {{team.games_played}}</div>
        <div><b>Goals For:</b> {{team.total_goal}}</div>
        <div><b>Goals Against:</b> {{team.total_goal_faced}}</div>
        <div><b>Draw:</b> {{team.draw}}</div>
        <div><b>Win:</b> {{team.win}}</div>
        <div><b>Loss:</b> {{team.loss}}</div>
        <div><b>Points:</b> {{team.point}}</div>

      </td>
    </tr>
  {% endfor %}
  </tbody>
</table> 

  </div>


  <div class="col-lg-3  col-md-4">
<div class="panel panel-primary panel-tweets">
  <div class="panel-heading">
    <h3 class="panel-title">Tweets</h3>
  </div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/htgifa" data-widget-id="641207408245669888">#htgifa Tweets</a>
  </div>
  </div>
</div>
       
    </div>
     </div>
        {% include "footer.html"%}

    <!-- /.container -->
</div>
{% endblock content%}
{% block javascript %}

  {{ block.super }}
 <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
 <script type="text/javascript">
 /* $("document").ready(function(){
    var options = {
    valueNames: [ 'name', 'city' ,'manager' , 'draw' , 'loss' , 'win' , 'game','total_goal','total_goal_faced','group','pool'],
    page : 350
        };
    var hackerList = new List('teams', options,300);

  })*/
  </script>
{% endblock javascript %}
       
        <!-- Footer -->
