{% extends "base.html" %}
{% block content%}
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
<div class="header" style="padding: 20px 0px 0px; min-height: 240px; ">
      <div class="col-sm-5" style="padding-left: 0px;">
          <img class="pull-left" src="{{STATIC_URL}}image/gifa-logo.png" style=" ">
          <div class="reg-area">
            <h3>GREAT INDIAN</h3>
            <h2>FOOTBALL ACTION</h2>
            <h1>IS BACK!</h1>
          </div>
      </div>
        <div class="col-sm-2">
          <!-- <a href="/"> -->
          <!-- <img class="" src="{{STATIC_URL}}image/gifa-01.png" style="width: 200px;"> -->
          <!-- </a> -->
        </div>
    
       <div class="col-sm-5" style="text-align:right; padding-right: 0px;">
            <a href="http://www.hindustantimes.com/" class=" "><img src="{{STATIC_URL}}image/ht-logo.png"></a><p style="color: #fff; font-size:10px;margin-top: 20px; padding-right: 10px;">Powered by</p>
          <ul style="margin:0px; padding: 0;margin-bottom: 30px;">
                <li style="list-style-type:none; display: inline-block;">
                  <a href="http://olx.in/"><img src="{{STATIC_URL}}image/olx-01.png" style="width:48px;"></a>
                </li>
                <li style="list-style-type:none; display: inline-block; margin-left: 20px;">
                  <a href="http://www.saregroup.com/"><img src="{{STATIC_URL}}image/saare-home.png"></a>
                </li>
          </ul>

         </div>
      <div class="clearfix"></div>
       <ul class="region nav nav-tabs" style="padding-left: 20px;">
      <li {% if city == "Delhi" %} class="active"{% endif%}><a href="/teams/listing.htm?city=Delhi"  style="padding: 10px 30px;">Delhi</a></li>
      <li {% if city == "Gurgaon" %} class="active"{% endif%}><a href="/teams/listing.htm?city=Gurgaon">Gurgaon</a></li>
      </ul>


</div>



    <!-- Page Content -->
    <div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
        

    <div class="container" style="background:rgba(255,255,255, 0.1);">

    
         
<div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

<div class="col-lg-9 col-md-8 news-detail" id="teams">
<h2>{{city}} Teams</h2>
<input class="search form-control" placeholder="Search" style="margin:10px 0px" />
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Id</th>
      <th class="sort" data-sort="name" >Name</th>
      <th class="sort" data-sort="manager" >Manager's Name</th>
      <th class="sort" data-sort="game" >Games Played</th>
      <th class="sort" data-sort="draw" >Draw</th>
      <th class="sort" data-sort="win" >Wins</th>
      <th class="sort" data-sort="loss" >Loss</th>
      <th class="sort" data-sort="group">Group</th>
    </tr>
  </thead>
  <tbody class="list">
  {% for team in team_list %}
    <tr>
      <td>{{team.id}}</td>
      <td class="name"><a href="{{team.get_absolute_url}}">{{team.team_name|title}}</a></td>
      <td class="manager">{{team.team_manager|title}}</td>
      <td class="game">{{team.games_played}}</td>
      <td class="draw">1</td>
      <td class="win" >8</td>
      <td class="loss">1</td>
      {% if team.team_group == 1%}
      <td class="group">Senior</td>
      {% else %}
      <td class="group">Junior</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table> 
{% if team_list.has_next %}
    <div style="text-align:center; padding: 10px;">
      <a href="?page={{ team_list.next_page_number }}">More Teams</a>
    </div>
  {% endif %}

  </div>


  <div class="col-lg-3  col-md-4">
<div class="panel panel-primary panel-tweets">
  <div class="panel-heading">
    <h3 class="panel-title">Tweets</h3>
  </div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/htgifa" data-widget-id="641207408245669888">#htgifa Tweets</a>
  </div>
  </div>
</div>
       
    </div>
     </div>
        <footer style="    background:rgba(0,0,0, 0.1); height: 250px; padding: 20px 0px;">
            <div class="container">
                <div class="col-lg-12">
                    <p>Copyright © HT Media 2015</p>
                </div>
            </div>
        </footer>



   
    <!-- /.container -->
</div>
{% endblock content%}
{% block javascript %}

  {{ block.super }}
 <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
 <script type="text/javascript">
  $("document").ready(function(){
    var options = {
    valueNames: [ 'name', 'city' ,'manager' , 'draw' , 'loss' , 'win' , 'game'],
    page : 293
        };
    var hackerList = new List('teams', options,300);

  })
  </script>
{% endblock javascript %}
       
        <!-- Footer -->