{% extends "base.html" %}
{% block content%}

     <!-- Page Content -->
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
      {% include "header.html"%}
</div>

    <!-- Page Content -->
<div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
<div class="container" style="background:rgba(255,255,255, 0.1);    margin: 20px auto;
    text-align: center;">         
   <img  src="{{STATIC_URL}}image/contact.png" style="width:400px;display:inline" class="img-responsive">
     </div>
       
      {% include "footer.html"%}
     </div>
       



   
    <!-- /.container -->
</div>
{% endblock content%}

