{% extends "base.html" %}
{% block content%}

     <!-- Page Content -->
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
      {% include "header.html"%}
</div>

    <!-- Page Content -->
<div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
<div class="container" style="background:rgba(255,255,255, 0.1);">         
  <div class="row" style="  border-top: 1px solid #ddd;   padding-top: 20px;">

  <div class="col-lg-9 col-md-8 left-more-news" >
    <div style="text-align:center">
      <h1>GIFA - Delhi Phase</h1>
      <h2>Delhi Public School, RK Puram<h2>
    <h5 style="color:#222">The venue for all the Teams registered in Delhi will be Delhi Public School, RK Puram.</h5>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.912869731294!2d77.17619474999998!3d28.572378999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1d9e1418edab%3A0x54c0a5dbd3bb96ca!2sDPS+R.K.Puram%2C+Police+Colony%2C+Sector+12%2C+R.K.+Puram%2C+New+Delhi%2C+Delhi+110022!5e0!3m2!1sen!2sin!4v1443030024407" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </div>
<div class="col-lg-3  col-md-4">
<div class="panel panel-primary panel-tweets">
  <div class="panel-heading">
    <h3 class="panel-title">Tweets</h3>
  </div>
  <div class="panel-body">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/htgifa" data-widget-id="641207408245669888">#htgifa Tweets</a>
  </div>
  </div>
</div>
       
    </div>
     </div>
       
      {% include "footer.html"%}
     </div>
       



   
    <!-- /.container -->
</div>
{% endblock content%}

