
{% extends "base.html" %}
{% block content%}

     <!-- Page Content -->
<div class="container" style="background:rgba(0,0,0, 0.1);padding: 0px; ">
      {% include "header.html"%}
    <!-- Page Content -->
<div class="container" style="background:rgba(255,255,255, 0.8);padding: 0px;">
	<div style="height: 400px;text-align: center;vertical-align: middle;line-height: 24px;margin-top: 170px;">
      <input type="button" class="btn btn-warning" value="Become a writer" onclick="fbLogin(true);"/>
   <div style="margin-top: 20px;"></div>
   <p >Create beautiful articles about games</p>
   <p>Reach millions of readers</p>
      <div style="margin-bottom: 20px;"></div>
  {% if request.GET.image %}
   <input type="button" class="btn btn-success" value="Click to Upload" onclick="fbLogin(false,{{ request.GET.image }});"/>
   {% else %}
    <input type="button" class="btn btn-warning " value="Write An Article" onclick="fbLogin(true);"/>
   {% endif %}
   </div>
  </div>
        <footer style="background:rgba(0,0,0, 0.1); height: 250px; padding: 20px 0px;">

            <div class="container">
                <div class="col-lg-12">
                    <p>Copyright © HT Media 2015</p>
                </div>
            </div>
        </footer>

    </div>

    <!-- /.container -->

{% endblock content%}