body {
      font-size: 13px;
      font-family: 'Roboto', sans-serif;
         background: url(../image/child-bg-web.jpg) no-repeat center center fixed;
         background-size: cover;
         margin-top :40px;
    }

    
    ul.list-inline {
      margin-top: 5px;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: 'Roboto', sans-serif;
    }

      .left-more-news p, .media p {
        margin: 0px;
      }

      .left-more-news h4.media-heading {
        font-size: 18px;
      }
      
      .left-more-news .media {
        border-bottom: 1px dotted #ccc;
        padding-bottom: 10px;
      }

      .left-more-news ul.list-inline li {
        border-right: 1px dotted #ccc;
      }
      .left-more-news ul.list-inline li:first-of-type {
        border-right: none;
      }
      .left-more-news ul.list-inline li a {
        text-decoration: none;
      }

      .featured-news .media img {
        margin-bottom: 10px;
      }

      .featured-news .media {
/*        border-bottom: 1px dotted #ccc; 
*/        padding-bottom: 10px;
      }
      .featured-news h4.media-heading {
        font-size: 18px;
      }

      .featured-news .media:last-of-type {
        border-bottom: none;
      }

      .panel-tweets .panel-body {
        padding: 0px;
      }

.reg-area {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
      .reg-area h3 {
    font-size: 38px;
    color: #fff;
    margin: 0;
    text-align: center;
    line-height: 38px;
      }
      .reg-area h2 {
    font-size: 40px;
}
.reg-area h1, .reg-area h2, .reg-area h3 {
    font-size: 38px;
    color: #fff;
    margin: 0;
    text-align: center;
    line-height: 38px;
}

.reg-area h1, .reg-area h2, .reg-area h3 {
    font-size: 38px;
    color: #fff;
    margin: 0;
    text-align: center;
    line-height: 38px;
}
.reg-area h1 {
    font-size: 62px;
    line-height: 56px;
    font-weight: bold;
}

.news-detail .news_metadata {
  font-size: 16px;
  padding: 10px 0px;
  border-top: 2px solid #ddd;
}

.news-detail .post-content {
  font-size: 16px;
}

.news-detail .fb-comments {
  border-top: 4px solid #ddd;
  width:100%;
}

.center-cropped {
  height: auto;
  width: 190px;
}


.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1f1f1f;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1f1f1f;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}
.match-table td, .match-table th{
  text-align:center;
  vertical-align: middle !important;

}
.blueimp-gallery > .description {
  position: absolute;
  top: 38px;
  left: 15px;
  color: #EAEAEA;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block;
}
.match-table td:first-of-type p:first-of-type{
  margin-bottom: 0px;
  font-weight: bold;

}

@media (max-width: 767px) {
    .navbar button { margin-bottom:10px; }
    .navbar {
      text-align: center;
    }

    .navbar ul.dropdown-menu.pull-right {
        float: none !important;
        text-align: center;
    }
    .navbar-fixed-top {
      position: absolute;
    }
     
     

}

@media (max-width: 480px) {
   
    .left-more-news .media-left {
      display: block;
      padding: 0px;
      margin: 0px;
    }
    .left-more-news .media-left img{
      width :100%;
      height:auto;
      margin-bottom:10px;
    }
    .left-more-news .media-left a{
      max-height:100% !important;
      overflow: hidden;
      display: block;
    }

    .navbar-header .navbar-right li a {
    display: inline-block;
    margin-bottom: 10px;
    }

    .post-content { overflow-x: hidden;
        word-wrap: break-word;
        }

    div#links a {
      width: 49%;
      padding: 4px !important;
      }
      div#links a img {
      width: 100%;
      height: auto;
      }
      div#links a {
    max-width: 49%;
    padding: 4px !important;
    }
    .nav.navbar-right li a {display: inline-block;margin-bottom: 10px}

}
 .region.nav-tabs > li > a {color: #fff}
 .region.nav-tabs > li.active > a,.region.nav-tabs > li:hover > a {color: #222}
 .match.nav-tabs > li > a {color: black;background-color: #fff;}
 .match.nav-tabs > li.active > a, .match.nav-tabs > li:hover > a {color: #fff;background-color: #007CB0;}
.post-content img {
max-width: 100%;
height: auto;
}
.post-content {margin-bottom: 40px;}
iframe { display: block;
          width:100%;
           }
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #222;
    background-color: #f9f2f4;
    border-radius: 4px;

.navbar.navbar-default.navbar-fixed-top {
  position: fixed;
}



  footer object {
    display: block;
    margin: 20px auto;
    }



